<div class="edit-box edit1" >
    <div class="edit-box add1">
        <i class="close" ui-sref="root.business.customer.email"></i>
        <div class="edit-pop">
            <ul class="pop-input">
                <li>
                    <label>行业</label>
                    <input type="text" class="edit-pt" ng-click="addWorks">
                </li>
                <li>
                    <label>备注</label>
                    <input type="text" class="edit-pt" ng-click="addRemark">
                </li>
                <li>
                    <label>发送间隔</label>
                    <input type="text"  class="edit-pt icon-time" ng-model="addSendNum">
                </li>
                <li>
                    <label>汇总间隔</label>
                    <select class="selected-same">
                        <option value="">必填数额</option>
                        <option value="">软件测试培训机构</option>
                        <option value="">建设工程承包合同</option>
                        <option value="">货物运输合同</option>
                        <option value="">加工承揽合同</option>
                        <option value="">建设工程承包合同</option>
                    </select>
                </li>
                <li>
                    <label>发送对象</label>
                    <select class="selected-same">
                        <option value="">潜在客户</option>
                        <option value="">建设工程承包合同</option>
                        <option value="">货物运输合同</option>
                        <option value="">加工承揽合同</option>
                        <option value="">建设工程承包合同</option>
                    </select>
                </li>
                <li>
                    <label>状态</label>
                    <input type="text" class="edit-pt pt2" ng-model="add">
                </li>
            </ul>
            <div class="modify">
                <button type="button" class="modify-btn">提交</button>
            </div>
        </div>
    </div>
</div>
<div id="modulebg"></div>